.dash {
  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  height: 150px;
  color: black;
}
.wi{
  width: 100%;
}

.da{
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
max-width: 300px;
min-height: 200px;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
justify-content: space-around;
margin-bottom: 20px;
}

.tem{
  display:flex;
  justify-content:space-around;
}

.wid{
width: auto !important
}

.hh{
  text-align: center;
}

.dashLink {
  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

.dashLink:hover {
  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  color: rgb(175, 175, 175);
  text-decoration: none;
}

.adminbackbtn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}


.blabel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 48px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  line-height: 1.2;
  text-transform: uppercase;
}

.blabell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: inline;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(59, 59, 59);
  line-height: 1.2;
  text-transform: uppercase;
}


.adminbackbtn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display:block;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  height: 62px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100% 
  );
  background-color:  linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100% 
  );
  color: #fff;
  line-height: 1.2;
  text-transform: capitalize;
  margin: auto;
  margin-top: 5px;
}
