@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

.test {
  width: 50%;
  padding: 2%;
  display: inline-block;
  margin-left: 25%;
  border-style: solid;
  text-align: left;
}
